body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    background-image: url(img/guin.jpg);
   background-repeat: no-repeat;
   background-position: 0 0;
    background-size: cover;
   
   
    color: #333;

}




.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
}
ul{
    margin-left: -40px;
    
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 1px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 350px;
    width: 800px;
    padding-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/hero1.png);
    background-position: 0 -5px;
   
}

.hero2 {
     
        height: 350px;
        width: 800px;
        padding-top: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(img/juara.jpg);
        background-position: 0 -5px;
}
.content {
    padding: 20px;
}

.content2 {
    padding: 20px;
}
.content h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: -5px;
}

.content .penulis {
    font-size: 11px;
}

.penulis {
    margin-top: -25px;
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}
.content p {
    margin-bottom: 20px;
    font-size: 14px;

}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy  {
    color: #eaeaea;
    text-align: center;
    font-size: 15px;
}